@model _18DH110115_LTW.Models.ViewModel.Cart
@using PagedList.Mvc

<link rel="stylesheet" type="text/css" href="~/Content/CustomerHome.css" />

@if (Model.SimilarProducts != null && Model.SimilarProducts.Any())
{
    <section class="listProduct">
        <h2>Sản phẩm tương tự</h2>
        <ul class="list-container">
            @foreach (var product in Model.SimilarProducts)
            {
                <li class="lproduct-item">
                    <a href="@Url.Action("ProductDetails", "Home", new { id = product.ProductID })">
                        <img src="@Url.Content(product.ProductImage)" alt="@product.ProductName" />
                    </a>
                    <div class="prodName">@product.ProductName</div>
                    <div class="prodPrice">@product.ProductPrice.ToString("N0") VND</div>
                    @Html.ActionLink("Thêm vào giỏ hàng", "AddToCart", "Cart",
                                       new { id = product.ProductID },
                                       new { @class = "btn btn-info" })
                </li>
            }
        </ul>

        <div class="pagination-container">
            @Html.PagedListPager(Model.SimilarProducts, page => Url.Action("Index", new { page }))
        </div>
    </section>
}