@model _18DH110115_LTW.Models.ViewModel.HomeProductVM
@using PagedList.Mvc

<link rel="stylesheet" type="text/css" href="~/Content/CustomerHome.css" />

@* Hiển thị danh sách sản phẩm mới *@
@if (Model.NewProducts != null && Model.NewProducts.Any())
{
    <section class="container-fluid listProduct">
        <h2>Sản phẩm mới</h2>
        <ul class="list-container">
            @foreach (var product in Model.NewProducts)
            {
                <li class="lproduct-item">
                    <a href="@Url.Action("ProductDetails", "Home", new { id = product.ProductID })">
                        <img src="@Url.Content(product.ProductImage)" alt="@product.ProductName" />
                    </a>
                    <p class="prodPrice">@Html.DisplayFor(_ => product.ProductPrice)</p>
                    <p class="prodName">@Html.DisplayFor(_ => product.ProductName)</p>
                    <p class="prodCate">@Html.DisplayFor(_ => product.Category.CategoryName)</p>
                </li>
            }
        </ul>
    </section>
    @* Hiển thị phân trang *@
    <div class="pagination-container pager">
        @Html.PagedListPager(Model.NewProducts, page => Url.Action("Index", new { page, searchTerm = Model.SearchTerm }))
    </div>

}
else
{
    <p>Không tìm được sản phẩm nào phù hợp.</p>
}